<section flex layout-sm="column" layout="row" layout-padding>
  <!-- idea list -->
  <md-content flex="40" flex-sm="100" flex-order="1" flex-order-sm="2" style="height:89vh;">

    <div layout="row"
         layout-align="center center">

      <md-button class="md-secondary md-icon-button"
                 aria-label="search">
        <md-icon class="icon" 
                 md-font-icon="ion-search"
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
      </md-button>

      <md-button class="md-secondary md-icon-button"
                 aria-label="order by time updated"
                 ng-click="toggleOrdering('time_updated')">
        <md-icon class="icon" 
                 md-font-icon="ion-edit"
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button"
                 aria-label="order by time created"
                 ng-click="toggleOrdering('time_created')">
        <md-icon class="icon" 
                 md-font-icon="ion-ios-clock-outline"
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button"
                 aria-label="order by upvote"
                 ng-click="toggleOrdering('upvotes')">
        <md-icon class="icon" 
                 md-svg-icon="actions:unicorn">
        </md-icon>
      </md-button>
      <md-button class="md-secondary md-icon-button"
                 aria-label="order by comment count"
                 ng-click="toggleOrdering('comment_count')">
        <md-icon class="icon" 
                 md-font-icon="ion-chatboxes" 
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
      </md-button>

      <md-button class="md-secondary"
                 ui-sref="application.ideas.create">+ Add an Idea</md-button>
    </div>

    <md-list>
      <md-list-item ng-if="blessingIdeas.results.length==0">
        <p>There are no ideas yet :'(</p>
      </md-list-item>

      <md-list-item ng-repeat="idea in blessingIdeas.results | orderBy: orderingVar : orderingVarReverseFlag"
                    layout="row"
                    style="border-bottom:1px solid rgba(0,0,0,0.12); padding: 10px;">
        <div class="idea-info"
             flex="75" 
             ui-sref="application.ideas.idea({ pk: idea.id })"
             style="cursor: pointer;">
          <div class="md-list-item-text">
            <h3 style="color: rgba(0,0,0,0.54);
                       margin:0px;
                       font-size: 16px;
                       font-weight: 400;
                       letter-spacing: 0.01em;">
              {{ idea.accounts[0].first_name }} {{ idea.accounts[0].last_name }}
            </h3>
            <p style="margin:0px;">{{ idea.idea }}</p>
          </div>
        </div>
        <div class="idea-actions" 
             layout="row"
             layout-align="end"
             flex>
          <md-button ng-click="upvoteIdea(idea)" 
                     class="md-icon-button">
            <md-icon class="icon" 
                     md-svg-icon="actions:unicorn">
            </md-icon>
            {{idea.upvotes}}
          </md-button>
          <md-button ng-click="focusOnIdea($event, idea)" 
                     class="md-icon-button">
            <md-icon class="icon" 
                     md-font-icon="ion-chatboxes" 
                     style="margin-top:5px; font-size:21px;">
            </md-icon>
            {{idea.comment_count}}
          </md-button>
        </div>

      </md-list-item>
    </md-list>
  </md-content>

  <!-- idea details -->
  <md-content flex flex-order="2" flex-order-sm="1" style="height:89vh;">
    <ui-view></ui-view>
  </md-content>
</section>