<md-dialog ng-controller="IdeaController" 
           aria-label="Create Idea"
           style="width:100%;height:100%;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Idea</span>
      </h2>
    
      <span flex></span>
      <md-button 
                 aria-label="Edit"
                 class="md-icon-button">
        <md-icon class="icon" 
                 md-font-icon="ion-edit" 
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
      </md-button>
      <md-button ng-click="upvoteIdea(idea)" 
                 class="md-icon-button">
        <md-icon class="icon" 
                 md-font-icon="ion-heart" 
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
        {{idea.upvotes}}
      </md-button>
      <md-button ng-click="hide()"
                 aria-label="Dismiss"
                 class="md-icon-button">
        <md-icon class="icon" 
                 md-font-icon="ion-close-round" 
                 style="margin-top:5px; font-size:21px;">
        </md-icon>
      </md-button>
      
    </div>
  </md-toolbar>
  <md-dialog-content style="padding:5px;">
    
    <md-card>
      <md-card-content>
        <p>{{idea.idea}}</p>
        <md-chips ng-model="idea.tags" readonly="true"></md-chips>
      </md-card-content>
    </md-card>


    <form>
       <md-input-container flex>
        <label>Feedback</label>
        <textarea ng-init="comment" 
                  ng-model="comment.comment" 
                  columns="1" md-maxlength="500"></textarea>
      </md-input-container>
      
      <div layout="row" layout-align="end center">
        <md-button ng-click="postComment(comment)" 
                   class="md-raised md-primary">Post</md-button>  
      </div>
    </form>
    
    <md-content>
      <md-list>
         <md-list-item ng-repeat="comment in comments.results"
                       class="md-3-line">
            <img ng-src="http://placehold.it/150x150" class="md-avatar" alt="{{comment.accountProfile.first_name}}" />
            <div class="md-list-item-text">
              <h3>{{comment.accountProfile.first_name}} {{comment.accountProfile.last_name}}</h3>
              <p>{{comment.comment}}</p>
            </div>
          </md-list-item>
      </md-list>
    </md-content>
    

  </md-dialog-content>
</md-dialog>